export(plot.predict.WEE.quantile,plot.WEE.quantile,predict.WEE.linear,predict.WEE.logistic,predict.WEE.quantile,print.summary.WEE.linear,print.summary.WEE.logistic,print.summary.WEE.quantile,print.WEE.linear,print.WEE.logistic,print.WEE.quantile,summary.WEE.linear,summary.WEE.logistic,summary.WEE.quantile,WEE.linear,WEE.logistic,WEE.quantile)
import(quantreg)
import(doParallel)
import(foreach)
import(parallel)
importFrom("graphics", "lines", "plot", "polygon")
importFrom("stats", "glm", "lm", "model.frame", "model.matrix",
             "model.response", "optim", "pchisq", "predict",
             "printCoefmat", "qnorm", "rbinom", "runif", "stepfun",
             "update")
importFrom("utils", "modifyList")
S3method(plot,predict.WEE.quantile)
S3method(plot,WEE.quantile)
S3method(predict,WEE.linear)
S3method(predict,WEE.logistic)
S3method(predict,WEE.quantile)
S3method(print,summary.WEE.linear)
S3method(print,summary.WEE.logistic)
S3method(print,summary.WEE.quantile)
S3method(print,WEE.linear)
S3method(print,WEE.logistic)
S3method(print,WEE.quantile)
S3method(summary,WEE.linear)
S3method(summary,WEE.logistic)
S3method(summary,WEE.quantile)
